/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }
  html{
    height: 100%;
    box-sizing: border-box;
  }
 
  body {
      font-family: Arial, sans-serif;
      position: relative;
      margin: 0;
     
      min-height: 100%;
    
      box-sizing: inherit;
    }
    .maincontainer{
        background: linear-gradient(to bottom, #88353500, #6fa1d3);
      color: #ffffff;
  text-align: center;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
    }    
    .text-center {
        text-align: center;
        
      }
      
      /* Social media icons */
      .text-dark {
        color: #ffffff;
      }
      
    