
*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Arial', sans-serif;
    height: inherit;
    width: inherit;
    background: linear-gradient(120deg,rgb(205, 255, 253),rgb(2, 177, 159));
}    


.container {
   
 top: 0;
 
}
.heading
{
    margin-top: 30px;
text-align: center;

}





