body {
    font-family: 'Arial', sans-serif;
    background:#fff;

    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    
    
    
}
.result{
    align-items: center;
    display: flex;
    margin-top: 50px;
    margin-bottom: 20px;
   
}


