body {
    
    
    height: 100vh;
    background: linear-gradient(120deg,rgb(205, 255, 253),rgb(2, 177, 159));
    margin: 0;
    
    
    
    
}
h2{
    font-family: 'Arial', sans-serif;
    color: black;
}
.result{
    align-items: center;
    display: flex;
    margin-top: 50px;
    margin-bottom: 20px;
    
   
}


